#新しく作ったファイル
<%= search_form_for @q do |f| %>
    <%= f.label :name_cont, 'User Search' %>
    <div class="input-group">
      <%= f.text_field :name_cont, placeholder: "Enter username...",
                        class: 'form-control' %>
      <span class="input-group-btn">
       <%= f.submit 'Go', class: "btn btn-primary" %>
      </span>
    </div>
  <% end %>

  <div class="sidenav">
      <%= link_to "タイムライン", chats_path %><hr>
      <br>
      <%= link_to "新規投稿", new_chat_path %><hr>
      <br>
      <% if user_signed_in? %>
        <%= link_to "マイページ", user_path(current_user.id) %><hr>
      <% end %>
      <br>
      <%= link_to "ユーザー検索", users_path %><hr>
      <br>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><hr>
    </div>