<div class="sidenav">
  <i class="fas fa-home"></i><%= link_to "タイムライン", chats_path %><hr>
  <br>
  <i class="fas fa-pen-fancy"></i><%= link_to "新規投稿", new_chat_path %><hr>
  <br>
  <% if user_signed_in? %>
    <i class="fas fa-user"></i><%= link_to "マイページ", user_path(current_user.id) %><hr>
  <% end %>
  <br>
  <i class="fas fa-search-plus"></i><%= link_to "ユーザー検索", users_path %><hr>
  <br>
  <i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><hr>
</div>
  
<div class="mypage">
  <h2>マイページ</h2>
  <div class="mypage-icon">
    <%= image_tag @user.image_url, size: "85x85" if @user.image? %> 
  </div>
  <%= @user.name %>
  <%= render partial: 'relationships/follow_button', user: @user %>

  <div class="mypage-profile">
    <p>プロフィール</p>
    <p><%= @user.profile %></p>
  </div>

  <div class="follow-count">
    フォロー数<%= @user.followings.count %>
    フォロワー数<%= @user.followers.count %>
  </div>

  <div class="edit-button">
    <% if current_user.id == @user.id %>
      <%= link_to "編集する", edit_user_registration_path %>
    <% end %>
  </div>

  <div class="post-index">
    <h4>投稿一覧</h4>
    <% @user.chats.each do |t| %>
      <p><%= t.mention %>に感謝！
      <p><%= t.content %>
      <p><%= image_tag t.image_url, size: "150x105" if t.image? %>
      <hr>
    <% end %>
  </div>

  <div class="post-like">
    <h4>いいねした投稿</h4>
    <% @user.liked_chats.each do |t| %>
      <p><%= t.user.name %>
      <p><%= t.content %>
      <p><%= image_tag t.image_url, size: "150x105" if t.image? %>
      <hr>
    <% end %>
  </div>

  <p><%= link_to "←back", chats_path %></p>
  
</div>