<div class="sidenav">
  <i class="fas fa-home"></i><%= link_to "タイムライン", chats_path %><hr>
  <br>
  <i class="fas fa-pen-fancy"></i><%= link_to "新規投稿", new_chat_path %><hr>
  <br>
  <% if user_signed_in? %>
    <i class="fas fa-user"></i><%= link_to "マイページ", user_path(current_user.id) %><hr>
  <% end %>
  <br>
  <i class="fas fa-search-plus"></i><%= link_to "ユーザー検索", users_path %><hr>
  <br>
  <i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><hr>
</div>

  <%= form_for @chat do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content, :size => 140 %> 
    <%= f.submit "編集する" %>
  <% end %>
