<div class="sidenav">
  <%= link_to "タイムライン", chats_path %><hr>
  <br>
  <%= link_to "新規投稿", new_chat_path %><hr>
  <br>
  <% if user_signed_in? %>
    <%= link_to "マイページ", user_path(current_user.id) %><hr>
  <% end %>
  <br>
  <%= link_to "ユーザー検索", users_path %><hr>
  <br>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %><hr>
</div>

<div class="post">
  <h2>新規投稿</h2>

  <%= form_for @chat do |f| %>
    <div class="field">
      <%= f.label :感謝したい相手_※必須 %><br>
      <%= f.text_field :mention, :size => 30 %>
    </div>
    <br>
    <div class="field">
      <%= f.label :メッセージ_※必須 %><br>
      <%= f.text_field :content, :size => 100 %>
    </div>
    <br>
    <div class="field">
      <%= f.label :画像_※任意 %><br>
      <%= f.file_field :image %>
    </div>
    <br>
    
    <div class="field">
      <%= f.label :カードの色の選択_※任意 %><br>
        <form class="sample" id="bgChenge">
            <label><input type="color" name="ex" id="bgColor" list="exlist" value="#ddeaf6">
            <datalist id="exlist">
              <option value="#ddd2aa"></option>
              <option value="#ffe3d5"></option>
              <option value="#d4ecad"></option>
              <option value="#ddeaf6"></option>
              <option value="#5888bd"></option>
              <option value="#cdbbd3"></option>
            </datalist></label>
        </form>
      <script>
    var bgColor = document.getElementById('bgColor');
  bgColor.onchange = function () {
  document.getElementById('bgChenge').style.backgroundColor = this.value;
  console.log('bgColor:'+this.value);
}
</script>

    </div>

    <br>
    <%= f.submit "投稿する" %>
    <br>

  <% end %>
  <br>
  <%= link_to "←back", chats_path %>
</div>